<%#
コメントアウト
-%>
<%- include('_head.html.ejs'); -%>

<%- include('_header.html.ejs'); -%>

<article>

  <section class="l-section">
    <h2><%= ejs.current.name %></h2>
  </section>

  <hr>

  <%- JSON.stringify(ejs.current) %>

  <hr>

  <nav>
    <ul>
<% ejs.pages.forEach(function (val) { -%>
<%   if(val.slug == ejs.current.slug){ -%>
      <li class="is-current"><a href="<%= val.path %>"><%= val.name %></a></li>
<%   } else { -%>
      <li><a href="<%= val.path %>"><%= val.name %></a></li>
<%   } -%>
<% }); -%>
    </ul>
  </nav>

  <hr>

  <section class="p-top">
    <ul>
<% for (var i = 0; i < 5; i++) { -%>
      <li class="item<%= i+1 %>"><%= i+1 %> li element.</li>
<% } -%>
    </ul>

    <ul>
<% var counter = 1; -%>
<% while (counter <= 5) { -%>
      <li>Loop Count <%= counter %>.</li>
<% counter++; -%>
<% } -%>
    </ul>

    <ul>
<% var ary = ['アイテム1', 'アイテム2', 'アイテム3']; -%>
<% for (var key in ary) { -%>
      <li><%= ary[key] %></li>
      <li><%= key %></li>
<% } -%>
<% for (var item of ary) { -%>
      <li><%= item %></li>
<% } -%>
    </ul>

  </section>

  <hr>

</article>

<%- include('_foot.html.ejs'); -%>
